<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/main_layout">
<head>
<title>GESTENSAF - Veículos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Adicionando Javascript -->
<script type="text/javascript" th:src="@{/js/novamanutencao.controller.js}"></script>

</head>
<body>

	<main layout:fragment="content" class="app-main">
		<div class="wrapper">
			<div class="page">
				<div class="page-inner">
					<header class="page-title-bar">
						<a th:href="@{/novaManutencao}">	
							<button type="button" class="btn btn-success btn-floated" title="Novo">
								<span class="fa fa-plus"></span>
							</button>
						</a>
						<div class="d-md-flex align-itens-md-start">
							<h1 class="page-title mr-sm-auto">Manutenções</h1>
							
							<!-- MENSAGEM A SER MOSTRADA APÓS EXECUTARMOS O POST -->
							<div class="alert alert-success alert-dismissible fade show" role="alert"  th:if="${message}">						 	
							 	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							 	<span th:text="${#strings.isEmpty(message)} ? '' : ${message}" />		
							</div>			
						</div>
					</header>
					<div class="page-section">
						<section class="card card-fluid">
							<div class="card-body">
								<div class="form-group">
									<div id="accordion" class="card-expansion">
										<header class="card-header border-0" id="headingOne">
										    <button class="btn btn-reset" data-toggle="collapse" data-target="#collapseOne">
										    	<span class="collapse-indicator mr-2">
										      		<i class="fa fa-fw fa-caret-right"></i>
										      	</span>
											    <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
											    	<span>Filtro</span>
											    </a>
								        	</button>
									    </header>
										<div id="collapseOne" class="collapse" data-parent="#accordion" aria-lalledby="headingOne">
											<div class="card">
												<div class="card-body pt-0" style="margin-top: 20px;">
											    	<form method="get" role="search">
														<fieldset>
															<div class="row">
																	<div class="col-2">
																		<label for="dataIni">Data Inicial:</label>
																		<input type="date" id="dataIni" class="form-control"/>
																	</div>
																	<div class="col-2">
																		<label for="dataFim">Data Final:</label>
																		<input type="date" id="dataFim" class="form-control" />
																	</div>
																	<div class="col-5">
																		<label for="dataIni">Filtro:</label>
																			<div class="input-group input-group-alt">
																				<div class="input-group-prepend">
																					<select class="custom-select">
																						<option value="">Filtrar por</option>
																						<option value="idManutencao">Código</option>
																						<option value="Placa">Placa</option>
																					</select>
																				</div>																	
																				<div class="input-group">
																					<input type="text" class="form-control"/>																		
																				</div>
																			</div>														
																	</div>
																	<div>
																		<button class="btn btn-primary" type="submit" style="margin-top: 29px;">
																			<i class="fas fa-search"></i>
																			<span>Localizar</span>
																		</button>
																	</div>
																</div>
														</fieldset>
													</form>
											    </div>
										    </div>
										</div>
									</div>
									
									<div class="panel-heading">
						                <span th:text="${#strings.isEmpty(message)} ? '' : ${message}"> </span>
						            </div>
									
									<div class="table-responsive">
										<table class="table table-hover">
											<thead class="thead-dark">
												<tr>
													<th>Manutenção</th>
													<th>Placa</th>
													<th style="min-width:200px;">Descrição</th>
													<th>Data</th>
													<th>Valor</th>
													<th style="width:100px; min-width:100px;">&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="manutencao : ${manutencoes}">
													<td><span th:text="${manutencao.idManutencao}"></span></td>
													<td><span th:text="${manutencao.veiculo.placa}"></span></td>													
													<td><span th:text="${manutencao.descricao}"></span></td>
													<td><span th:text="${#dates.format(manutencao.dataManutencao, 'dd/MM/yyyy')}" ></span></td>
													<td><span th:text="${#numbers.formatDecimal(manutencao.valor, 0, 'COMMA', 2, 'POINT')}"></span></td>
													<td class="align-middle text-right">
														<a th:href="@{/editarManutencao/{id}(id = ${manutencao.idManutencao})}" class="btn btn-sm btn-secondary" title="Editar">
															<i class="fas fa-pen" title="Editar"></i>
															<span class="sr-only">Editar</span>
														</a>
														<button class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modalExcluirManutencao" title="Excluir">
															<i class="far fa-trash-alt" ></i>
															<span class="sr-only">Remove</span>
														</button>														
													</td>
													<!-- Modal Excluir -->
														<div class="modal fade" id="modalExcluirManutencao">
															<div class="modal-dialog modal-dialog-centered">
      															<div class="modal-content">
															<div class="modal-header">
																
															</div>
															<div class="modal-body">
																<p>Deseja realmente excluir a manutenção de número <span th:object="${manutencao}" th:text="*{idManutencao}" /></p>
															</div>
															<div class="modal-footer">
																<a th:href="@{/excluiManutencao/{id}(id = ${manutencao.idManutencao})}" class="btn btn-sm" title="Confirma">
																	<button type="button" class="btn btn-primary">
																		<i class="fas fa-check"></i>
																		<span class="sr-only">Confirma</span>
																	</button>
																</a>
																<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
																	<i class="fas fa-ban"></i>
																	<span class="sr-only">Cancelar</span>
																</button>
															</div>
														</div>
													</div>
												</div>
														<!-- th:href="@{/excluiManutencao/{id}(id = ${manutencao.idManutencao})}" -->
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
