<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/main_layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../img/gestensaf.ico" />
</head>
<body>
	<main layout:fragment="content" class="app-main">
		<div class="wrapper">
			<div class="page">
				<div class="page-inner">
					<header class="page-title-bar">
						<div class="jumbotron">
							<h1 class="display-3">Seja bem-vindo ao GESTENSAF</h1>			
						</div>
					</header>
				</div>
			</div>
		</div>
	</main>

</body>
</html>