<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>GESTENSAF - Gestão de Frotas</title>

<!-- Google font -->
<link
	th:href="@{https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600}"
	rel="stylesheet" />
<!-- End Google font -->

<link rel="shortcut icon" th:href="@{/images/gestensaf.ico}" />

<!-- INÍCIO PLUGINS STYLES -->
<link rel="stylesheet" href="/css/all.css" />
<!-- FIM PLUGINS STYLES -->

<!-- INÍCIO TEMA STYLES -->
<link rel="stylesheet" href="/css/theme.min.css" />
<!-- FIM TEMA STYLES -->

</head>
<body>

	<main class="auth"> <header id="auth-header" class="auth-header"
		style="background-image: url(/images/background.jpg);">
		<h1>
			<span class="sr-only">LOGO</span>
		</h1>
	</header>



	<form th:action="@{/index}" method="post" class="auth-form">

		<div>
			<img width="350px" height="66px" th:src="@{/images/logo_2.png}" />
		</div><br/><br/>

		<div th:if="${param.error}">
			<div class="alert alert-danger">Usuário/senha inválidos!</div>
		</div>

		<div th:if="${param.logout}">
			<div class="alert alert-info">Usuário desconectado!</div>
		</div>

		<div class="form-group">
			<div class="form-label-group">
				<input type="text" id="username" name="username"
					class="form-control" placeholder="Usuário" required="" autofocus="" />
				<label for="usuario">Usuário</label>
			</div>
		</div>

		<div class="form-group">
			<div class="form-label-group">
				<input type="password" id="password" name="password"
					class="form-control" placeholder="Senha" required="" /> <label
					for="senha">Senha</label>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		</div>

		<div class="text-center pt-3">
			<a href="#" class="link">Esqueci minha senha</a>
		</div>
	</form>

	<footer class="auth-footer"> © 2018 Todos os direitos
		reservados. DERR Soluções Web </footer> </main>

	<!-- BASE JS -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>

	<!-- PLUGINS JS -->
	<script type="text/javascript" src="/js/particles.min.js"></script>
	<script type="text/javascript" src="/js/theme.min.js"></script>

	<!-- Tag de site global (gtag.js) - Google Analytics -->
	<script type="text/javascript" src="/js/gtag.js"></script>

</body>
</html>