<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/main_layout">
<head>
<title>GESTENSAF - Veículos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<main layout:fragment="content" class="app-main">
		<div class="wrapper">
			<div class="page">
				<div class="page-inner">
					<header class="page-title-bar">
						<button type="button" class="btn btn-success btn-floated">
							<a th:href="@{/novaMulta}" sytle="text-decoration:none;">
								<span class="fa fa-plus"></span>
							</a>
						</button>
						<div class="d-md-flex align-itens-md-start">
							<h1 class="page-title mr-sm-auto">Multas</h1>
							
							<!-- MENSAGEM A SER MOSTRADA APÓS EXECUTARMOS O POST -->
							<div class="mdl-list__item" th:if="${msg_resultado}">						 	
							 	<p id="p-mensagem-sucesso" class="sucesso-msg" th:text="${msg_resultado}" >...</p>		
							</div>			
						</div>
					</header>
					<div class="page-section">
						<section class="card card-fluid">
							<div class="card-body">
								<div class="form-group">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Digite aqui a placa do veículo a ser localizado"/>
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												Localizar
											</button>
										</div>
									</div>
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Auto Infração</th>
													<th>Placa</th>
													<th>Motorista</th>
													<th>Local</th>
													<th>Data</th>
													<th>Valor</th>
													<th>Status</th>													
												</tr>
											</thead>
											<tbody>
												<tr th:each="multa : ${multa}">
													<td>
														<a th:href="@{/editaMulta/{id}(codMulta = ${multa.codMulta})}">
															<span th:text="${multa.codMulta}"></span>
														</a>
													</td>
													<td><span th:text="${multa.veiculo.placa}"></span></td>
													<td><span th:text="${multa.funcionario.nome}"></span></td>
													<td><span th:text="${multa.endereco.municipio}"></span></td>
													<td><span th:text="$${#dates.format(multa.dataMulta, 'dd/MM/yyyy')}"></span></td>
													<td><span th:text="${multa.valor}"></span></td>
													<td th:switch="${multa.status}">
														<span th:case="true">PAGO</span>
														<span th:case="false">A PAGAR</span>
													</td>
													<td class="align-middle text-right">
														<a class="btn btn-sm btn-secondary" th:href="@{/excluiMulta/{id}(codMulta = ${multa.codMulta})}">
															<i class="far fa-trash-alt"></i><span class="sr-only">Remove</span>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<ul></ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
