<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/main_layout">
<head>
<title>GESTENSAF - Veículos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<main layout:fragment="content" class="app-main">
		<div class="wrapper">
			<div class="page">
				<div class="page-inner">
					<header class="page-title-bar">
						<a th:href="@{/novoVeiculo}" sytle="text-decoration:none;">
							<button type="button" class="btn btn-success btn-floated">
								<span class="fa fa-plus"></span>								
							</button>
						</a>
						<div class="d-md-flex align-itens-md-start">
							<h1 class="page-title mr-sm-auto">Veículos</h1>
							
							<!-- MENSAGEM A SER MOSTRADA APÓS EXECUTARMOS O POST -->
							<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msg_resultado}">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>						 	
							 	<p id="p-mensagem-sucesso" class="sucesso-msg" th:text="${msg_resultado}" >...</p>		
							</div>			
						</div>
					</header>
					<div class="page-section">
						<section class="card card-fluid">
							<div class="card-body">
								<div class="form-group">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Digite aqui a placa do veículo a ser localizado"/>
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												Localizar
											</button>
										</div>
									</div>
									<div class="table-responsive">
										<table class="table table-hover">
											<thead class="thead-dark">
												<tr>
													<th>Placa</th>
													<th>Marca</th>
													<th>Modelo</th>
													<th>KM</th>
													<th>Status</th>
													<th>Situação</th>
													<th style="width:50px; min-width:50px;">&nbsp;</th>													
												</tr>
											</thead>
											<tbody>
												<tr th:each="veiculo : ${veiculo}">
													<td><span th:text="${veiculo.placa}"></span></td>
													<td><span th:text="${veiculo.marca}"></span></td>
													<td><span th:text="${veiculo.modelo}"></span></td>
													<td><span th:text="${veiculo.km}"></span></td>
													<td><span th:text="${veiculo.status}"></span></td>
													<td th:switch="${veiculo.situacao}">
														<span th:case="true"><i class="fas fa-check-circle" style="color: green;" title="Ativo"></i></span>
														<span th:case="false"><i class="fas fa-times-circle" style="color: red;" title="Inativo"></i></span>
													</td>
													<td>
														<a th:href="@{/editaVeiculo/{placa}(placa = ${veiculo.placa})}" class="btn btn-sm btn-secondary">
															<i class="fas fa-pen" title="Editar"></i>
															<span class="sr-only">Editar</span>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<ul></ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
